<%- include('../inc/top') %>
    <!-- <div class="container "  >
    
        <h3 class="position-relative py-2 px-4 text-bg-dark border border-dark rounded-pill"  >Thông Tin Danh Sách sản phẩm </h3>
        <div class="card  scrollspy-example " data-bs-spy="scroll" data-bs-smooth-scroll="true" tabindex="0">
            <div  data-bs-spy="scroll" data-bs-smooth-scroll="true"  class="scrollspy-example" tabindex="0">
                 <table class="table table-bordered  border-Dark ">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Tên </th>
                        <th scope="col">Loại Sản Phẩm </th>
                        <th scope="col">Ảnh Sản Phẩm </th>
                        <th scope="col">Nội Dung Sản Phẩm</th>
                        <th scope="col">Giá tiền </th>
                        <th scope="col">Ghi Chú  </th>
                        <th scope="col">Tác Vụ </th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Ti Vi </td>
                        <td>Điện Tử  </td>
                        <td>  <img src="../images/logo.png" class="card-img-top" alt="..."></td>
                        <td>Đồ này ko bug </td>
                        <td>3500VND</td>
                        <td>nhẹ tay đập mạnh </td>
                        <td>
                            <button type="button" class="btn btn-info">Xóa </button>
                            <button type="button" class="btn btn-info">Sửa</button>
                        </td>
    
                    </tr>
    
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ti Vi </td>
                        <td>Điện Tử  </td>
                        <td> <img src="../images/logo.png" class="card-img-top" alt="..."  ></td>
                        <td>Đồ này ko bug </td>
                        <td>3500VND</td>
                        <td>nhẹ tay đập mạnh </td>
                        <td>
                            <button type="button" class="btn btn-info">Xóa </button>
                            <button type="button" class="btn btn-info">Sửa</button>
                        </td>
    
                    </tr>
    
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">3</th>
                        <td>Ti Vi </td>
                        <td>Điện Tử  </td>
                        <td> <img src="../images/logo.png" class="card-img-top" alt="..."></td>
                        <td>Đồ này ko bug </td>
                        <td>3500VND</td>
                        <td>nhẹ tay đập mạnh </td>
                        <td>
                            <button type="button" class="btn btn-info">Xóa </button>
                            <button type="button" class="btn btn-info">Sửa</button>
                        </td>
    
                    </tr>
    
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">4</th>
                        <td>Ti Vi </td>
                        <td>Điện Tử  </td>
                        <td> <img src="../images/logo.png" class="card-img-top" alt="..."></td>
                        <td>Đồ này ko bug </td>
                        <td>3500VND</td>
                        <td>nhẹ tay đập mạnh </td>
                        <td>
                            <button type="button" class="btn btn-info">Xóa </button>
                            <button type="button" class="btn btn-info">Sửa</button>
                        </td>
    
                    </tr>
    
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">5</th>
                        <td>Ti Vi </td>
                        <td>Điện Tử  </td>
                        <td> <img  src="../images/logo.png" class="card-img-top" alt="..."></td>
                        <td>Đồ này ko bug </td>
                        <td>3500VND</td>
                        <td>nhẹ tay đập mạnh </td>
                        <td>
                            <button type="button" class="btn btn-info">Xóa </button>
                            <button type="button" class="btn btn-info">Sửa</button>
                        </td>
    
                    </tr>
    
                </tbody>
            </table>
   
            </div>
          
   
    </div>
</div> -->

    <div class="container ">

        <h3 class="position-relative py-2 px-4 text-bg-dark border border-dark rounded-pill">Thông Tin Danh Sách sản
            phẩm </h3>
        <div class="card  scrollspy-example " data-bs-spy="scroll" data-bs-smooth-scroll="true" tabindex="0">
            <div data-bs-spy="scroll" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <table class="table table-bordered  border-Dark ">
                    <thead>
                        <tr>
                            <th scope="col">Stt</th>
                            <th scope="col">Tên </th>
                            <th scope="col">Giá tiền </th>
                            <th scope="col">Nội Dung Sản Phẩm</th>
                            <th scope="col">Ghi Chú </th>
                            <th scope="col">Loại Sản Phẩm </th>
                            <th scope="col">Ảnh Sản Phẩm </th>
                            <th scope="col">Tác Vụ </th>

                        </tr>
                    </thead>

                    <% listSp.forEach((row)=>{ %>

                        <tr>

                            <td> 1 </td>
                            <td>
                                <%= row.nameSp%>
                            </td>
                            <td>
                                <%= row.giaTien %>
                            </td>
                            <td>
                                <%= row.noiDung %>
                            </td>
                            <td>
                                <%= row.ghiChu %>
                            </td>
                            <td>
                                <%= row.id_theloai.nameTl%>
                            </td>
                            <td> <img style="width: 120px ; height: 70px ;" src="<%= row.img %>" alt=""> </td>
                            <td>
                                <a href="/sp/edit/<%= row.id %>"> <button type="button"
                                        class="btn btn-info">Sửa</button></a>

                                <a aria-current="page" data-toggle="modal" data-target="#deleteModal<%= row._id  %>">
                                    <button type="button" class="btn btn-info">Xóa </button></a>
                                <form method="POST" action="/sp/deleteSP/<%= row._id%>?_method=DELETE">
                                    <input type="hidden" name="_id" value="<%= row._id  %>">
                                    <div class="modal fade" id="deleteModal<%= row._id  %>" tabindex="-1" role="dialog"
                                        aria-labelledby="deleteModalLabel<%= row._id  %>" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel<%= row._id  %>">Confirm
                                                        Delete</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn chắc chắn muốn xóa sản phẩm "<%= row.nameSp %>"?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Không</button>
                                                    <button type="submit" class="btn btn-danger">Có</button>
                                                </div>

                            </td>

                        </tr>
                        <% }); %>


                </table>

            </div>


        </div>
    </div>


    <%- include('../inc/bottom') %>